*{
  margin: 0px;
  padding: 0px;
}
#background{
  background: url(img-1/BG.png);
  background-size: cover;
  margin: auto;
  height: 100vh;
  width: 1440px;
}
#header .header-pic{
  margin-left: 200px;
  padding-top: 46px;
}
#title{
  width: 1440px;
  margin: auto;

}
#title h2{
 text-align: center;
 font-size: 50px;
 color: white;
 opacity: 0.8;
 letter-spacing: 1px;
}
#title .title-pic{
  margin-top: 42px;
  text-align: center;
  margin-left: 200px;
}
#title .title-pic img{
 padding-right: 172px;
}
#title .title-content{
  margin-left: 450px;
  margin-bottom: 29px;
  font-size: 20px;
}
#title span{
  padding-right: 90px;
  letter-spacing: 0.5px;
  color: white;
  opacity: 0.6;
}
#middle{
  width: 1100px;
  height: 658px;
  border:black solid 0.3px;
  border-radius: 10px;
  margin:auto;
  margin-bottom: 20px;
  background: white;
}
#middle .middle-img{
  width: 40px;
  float: left;
  margin-top: 28px;
  margin-left: 40px;
}
#middle  .span1,.span2{
 display: inline-block;
 margin-top: 32px;
 padding-left:13px; 
}
#middle .span1{
  font-size: 21px;
  color: #1072a5;
}
#middle .span2{
  color: #bad3e0;
  opacity: 0.8;
}
#middle .middle-content1{
  margin-left: 42px;
  margin-top: 46px;
  font-size: 22px;
  color: #1072a5;
}
#middle .middle-content1 .span3{
  letter-spacing: 1px;
  padding-right: 328px;
}
#middle .input1,.input2{
  width: 396px;
  font-size: 60px;
  margin-top: 38px;
  margin-right: 60px;
  border:black solid 1px;
  border-radius: 10px;
  opacity: 0.1;
}
#middle .middle-btn1{
  width: 132px;
  height: 50px;
  float: right;
  border-radius: 30px;
  background: #1296db;
  color: white;
  font-size: 18px;
  letter-spacing: 10px;
  margin-right: 33px;
  margin-top: -63px;
  padding-left: 10px;
}
#middle .middle-content1-input .input1{
  margin-right: 60px;
  margin-top: 30px;
  float: left;
}
#middle .middle-btn2,.middle-btn3{
  width: 132px;
  height: 50px;
  float: right;
  border-radius: 30px;
  background: #1296db;
  color: white;
  font-size: 18px;
  letter-spacing: 10px;
  margin-right: 33px;
  margin-top: 50px;
  padding-left: 10px;
}
#middle .middle-content2,.middle-content3{
  margin-left: 42px;
  margin-top: 46px;
  font-size: 22px;
  color: #1072a5;
}
#middle .middle-content2 .span5,.span6{
  letter-spacing: 1px;
  padding-right: 328px;
}
#middle .input3,.input4,.input5,.input6{
  width: 396px;
  font-size: 60px;
  margin-top: 38px;
  border:black solid 1px;
  border-radius: 10px;
  opacity: 0.1;
}
#middle .middle-content2-input .input3,.input5{
  margin-right: 60px;
}
#footer{
  width: 1440px;
}
